process {
   resourceLimits = [memory: 245.GB, cpus: 32, time: 100.h]
   withName: MUTECT2_PAIRED {
        cpus   = 4
        memory = 50.GB
        time   = 36.h
    }
  withLabel:process_low {
    cpus   = { 2 * task.attempt }
    memory = { 14.GB * task.attempt }
    time   = { 8.h  * task.attempt }
  }
  withLabel:process_medium {
    cpus   = { 6  * task.attempt }
    memory = { 42.GB * task.attempt }
    time   = { 24.h * task.attempt }
  }
  withLabel:process_high {
    cpus   = { 12 * task.attempt }
    memory = { 84.GB * task.attempt }
    time   = { 36.h * task.attempt }
  }
}
